# [member]
ETCD_NAME="{{inventory_hostname}}"
ETCD_DATA_DIR="{{etcd_cluster_data_dir}}"

{% if etcd_snapshot_counter is defined %}
ETCD_SNAPSHOT_COUNTER="{{ etcd_snapshot_counter }}"
{% else %}
#ETCD_SNAPSHOT_COUNTER="10000"
{% endif %}

{% if etcd_heartbeat_interval is defined %}
ETCD_HEARTBEAT_INTERVAL="{{ etcd_heartbeat_interval }}"
{% else %}
#ETCD_HEARTBEAT_INTERVAL="100"
{% endif %}

{% if etcd_election_timeout is defined %}
ETCD_ELECTION_TIMEOUT="{{ etcd_election_timeout }}"
{% else %}
#ETCD_ELECTION_TIMEOUT="1000"
{% endif %}

ETCD_LISTEN_CLIENT_URLS="{{etcd_scheme}}://localhost:2379,{{etcd_scheme}}://{{etcd_public_address}}:2379"
#ETCD_MAX_SNAPSHOTS="5"
#ETCD_MAX_WALS="5"
#ETCD_CORS=""
#
# [cluster]
{% if inventory_hostname in groups[etcd_master_group_name] %}
ETCD_LISTEN_PEER_URLS="{{etcd_scheme}}://{{etcd_public_address}}:2380"
ETCD_ADVERTISE_CLIENT_URLS="{{etcd_scheme}}://{{etcd_public_address}}:2379"
ETCD_INITIAL_ADVERTISE_PEER_URLS="{{etcd_scheme}}://{{etcd_public_address}}:2380"
{% endif %}
ETCD_INITIAL_CLUSTER="{{etcd_cluster}}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="{{etcd_initial_cluster_token}}"
# if you use different ETCD_NAME (e.g. test), set ETCD_INITIAL_CLUSTER value for this name, i.e. "test=http://..."
#ETCD_DISCOVERY=""
#ETCD_DISCOVERY_SRV=""
#ETCD_DISCOVERY_FALLBACK="proxy"
#ETCD_DISCOVERY_PROXY=""
#
#[proxy]
{% if inventory_hostname not in groups[etcd_master_group_name] %}
ETCD_PROXY="on"
{% endif %}
#
#[security]
{% if etcd_secure %}
ETCD_CERT_FILE="{{etcd_pki_cert_dest}}"
ETCD_KEY_FILE="{{etcd_pki_key_dest}}"
ETCD_CLIENT_CERT_AUTH="true"
ETCD_TRUSTED_CA_FILE="{{etcd_pki_ca_cert_dest}}"
ETCD_PEER_CERT_FILE="{{etcd_pki_cert_dest}}"
ETCD_PEER_KEY_FILE="{{etcd_pki_key_dest}}"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_PEER_TRUSTED_CA_FILE="{{etcd_pki_ca_cert_dest}}"
{% endif %}
#
#[logging]
#ETCD_DEBUG="true"
# examples for -log-package-levels etcdserver=WARNING,security=DEBUG
#ETCD_LOG_PACKAGE_LEVELS="etcdserver=DEBUG"
